
.section-heading {
    text-align:center;
    color:#131313;
    margin-top: 18px;
    margin-bottom:70px;
    
    font-weight: bold;
    
  }

  .column-4 {
    float: left;
    width: 21%;
    padding: 10px;
    margin:30px;
    height: 250px;
  }

  body {
    
      background:url(https://4.bp.blogspot.com/-paXNjnTwXo0/UHehwUd8dQI/AAAAAAAACnY/mY_MZG26NBk/s400/Chicago+Skyline+with+Trump.jpg);
  }
 
  
  
  
  .project-1 {
   background-color: white;
   opacity: 0.5;
    max-width:100%;
    max-height:100%;
   
    border:3px solid black;
  }
  
  .project-2 {
    background-color:#fdfeff;
    opacity: 0.5;
    border:3px solid black;
  }
  
  .project-3 {
    background-color:white;
    opacity: 0.5;
    border:3px solid black;
  }
  
  .project-4 {
    background-color: white;
    opacity: 0.5;
    border:3px solid black;
  }
  
  .project-5 {
    background-color:white;
    opacity: 0.5;
    border:3px solid black;
  }
  
  .project-6 {
     background-color: white;
     opacity: 0.5;
      border:3px solid black;
  }
  
  

  .project-text {
    text-align:center;
    font-size:50px;
  }

 .project-1:hover {
     background-color: #24210d;
  }
  .project-2:hover {
    background-color:#24210d;
  }
  
  .project-3:hover {
     background-color: #24210d;
  }
  
  .project-4:hover {
     background-color: #24210d;
  }
  
  .project-5:hover {
     background-color: #24210d;
  }
  
  .project-6:hover {
     background-color: #24210d;
  }
  
 