body {
    background-color: rgb(220, 206, 188);
  border-radius: 15px 50px 30px 5px
}


h4 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    margin: 10px;
    background-color: #939393;
    border-radius: 5px;
    
}



  
  .menu li {
    margin: 20px;
    padding: 10px;
    cursor: context-menu;
    display: inline-block;
    border-radius: 4px;
    list-style: none;
  }
  
  .menu {
      font-size: 20px;
    width: 200px;
    margin: 0 auto;
    background: rgba(115, 115, 117, 0.4);
    border-radius: 20px;
    list-style: none;
  }
  


.content-footer {
    margin: 5px;
    padding: 14px 16px;
    text-align: center;
    font-size: 26px;
    background-color: grey;
    opacity: 0.4;
    position:absolute;
    width: 100%;
    bottom: 0;
    
  }
  
  .footer {
   text-decoration: none;
   color: black;
   opacity: 0.5;
  }