body {
  background: url(https://unsplash.imgix.net/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=857f07b76abac23a7fb7161cc7b12a46);
  object-fit: cover;

 
}
.navbar {
    overflow: hidden;
   background: rgba(82, 81, 81, 0.993);
   opacity: 0.5;
   color: white;
 
  }
  
  .navbar a {
    float: right;
    font-size: 26px;
    color: rgb(250, 248, 248);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 5px;
  } 
  
  
  
  
  .navbar a:hover  {
    background-color: rgb(184, 19, 19);
  }
  
  #modal {
    background-color: rgba(0,0,0,0.4);
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		overflow: auto;
		display: none;

	
	}
  #modal-textbox {
    background-color: rgb(146, 143, 143);
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;


	}
  #modal-footer {
		text-align: right;
	}

	h1 {
		padding-bottom: 15px;
	}

	.modal-buttons {
		padding: 14px 18px;
  	background-color: grey;
    opacity: 0.7;
		border: none;
		outline: none;
		border-radius: 3px;
		font-family: 'Arial';
		cursor: pointer;
	}

  




  
 
 



 

